header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 125px;
  padding-right: 125px;
  height: 75px;
  position: relative;
  top: 0;
  z-index: 100;
  background-color: white;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.hamburger {
  display: none;
}

#hamburger:hover {
  cursor: pointer;
}

.hamburger-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger-link {
  text-decoration: none;
  color: black;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-bar {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 57px;
}

.nav-bar li {
  display: inline;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav-bar li a::before {
  content: "";
  background-color: #31d35c;
  position: absolute;
  width: 0;
  border-radius: 2px;
  height: 5px;
  bottom: 0;
  left: 0;
}

.nav-bar li a::after {
  content: "";
  background-color: #31d35c;
  position: absolute;
  width: 0;
  border-radius: 2px;
  height: 5px;
  top: 0;
  right: 0;
}

.nav-bar li a:hover::before {
  width: 100%;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}

.nav-bar li a:hover::after {
  width: 100%;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}

#test {
  height: 100%;
}

.nav-links {
  text-decoration: none;
  color: #9698a6;
}

.nav-links:hover {
  color: #2d314d;
}

.header-log {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.request-button {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-device-width: 870px) {
  .request-button {
    display: none;
  }
  .nav-bar {
    display: none;
  }
  .hamburger {
    display: initial;
  }
  header {
    -webkit-transition: all 1s;
    transition: all 1s;
    padding-left: 50px;
    padding-right: 50px;
  }
  #hamburger:hover {
    height: 14px;
    width: 28px;
  }
}

.next-gen-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: .7fr 100px;
}

.sales-generation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
}

.gen-header {
  font-size: 48px;
}

.image {
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
  background-image: url(/images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
}

.image img {
  position: relative;
  bottom: 70px;
}

#bg-image {
  position: relative;
  z-index: -1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-column: 4/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  top: 0;
}

@media (max-device-width: 720px) {
  .next-gen-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .image {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url(/images/bg-intro-mobile.svg);
  }
  .image img {
    height: 500px;
  }
  .sales-generation-container {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px 0 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gen-button {
    margin-bottom: 20px;
  }
  .gen-header {
    margin-top: 20px;
  }
}

.choose-easybank-container {
  background-color: #f3f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  padding-left: 150px;
  padding-right: 150px;
  -webkit-transition: padding-left 1s;
  transition: padding-left 1s;
}

.choose-sales {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.sales-header {
  font-size: 48px;
}

.sales-body {
  color: #9698a6;
}

.perks-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.card-header {
  font-size: 28px;
}

.card-body {
  color: #9698a6;
}

@media (max-device-width: 700px) {
  .card {
    -webkit-transition: all 1s;
    transition: all 1s;
    gap: 20px;
  }
}

@media (max-device-width: 420px) {
  .choose-easybank-container {
    -webkit-transition: all 1s;
    transition: all 1s;
    padding-left: 50px;
    padding-right: 25px;
  }
}

.latest-article-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 30px;
  margin: 20px 0 100px;
  padding-left: 150px;
  padding-right: 150px;
  -webkit-transition: padding-left 1s;
  transition: padding-left 1s;
}

.latest-headline {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 4rem;
  padding-left: 150px;
}

.latest-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 100%;
  max-height: 100%;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.test-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.author {
  color: #9698a6;
  font-size: 12px;
  margin-top: 10px;
}

.article-body {
  color: #9698a6;
  font-size: 16px;
}

.article-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.article-image {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.article {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

@media (max-device-width: 420px) {
  .latest-article-container {
    -webkit-transition: all 1s;
    transition: all 1s;
    padding-left: 50px;
    padding-right: 25px;
  }
}

footer {
  background-color: #2d314d;
  padding: 20px 0 20px 0;
}

.footer-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer-link:hover {
  color: #31d35c;
}

.footer-media img:hover {
  cursor: pointer;
}

@media (max-device-width: 700px) {
  .footer-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
  .footer-links:nth-child(3) {
    margin-top: 5px;
  }
  .button-copy {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .footer-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

* {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.request-invite-button {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  border: none;
  padding: .5rem 1.5rem .5rem 1.5rem;
  border-radius: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.request-invite-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */